# Arquivos de texto
*.txt
*.log

# Planilhas Excel e dados tabulares
*.xls
*.xlsx
*.xlsm
*.xlsb
*.csv
*.tsv

# Arquivos temporários do Excel e Word (evita arquivos de lock no repositório)
~$*.xls*
.~lock.*
~$*.doc*

# Outros documentos gerais
*.doc
*.docx
*.pdf
*.rtf

__pycache__/
*.png
*copy.ipynb